* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container > form {
  width: 100%;
}
.container > form > input {
  margin: 10px 0;
  width: 100%;
  padding: 12px 20px;
  border: none;
  border-bottom: 2px solid gray;
}

.container > form > label {
  font-size: 24px;
}

table {
  width: 100%;
  text-align: center;
  margin-bottom: 200px;
}

td,
th {
  border: 1px solid #dddddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
